.footer {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 1.5rem;
  gap: 2.5rem;
}

.logo {
  height: 3em;
  margin: 5px;
}

.text {
  color: lightgreen;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
  font-weight: bold;
}
